.react-chatbot-kit-chat-bot-avatar-icon {
  background: blue;
  
}
.react-chatbot-kit-chat-bot-avatar-letter {
}
.avatarfld{
  background: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}